@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



body {
  font-family: 'Poppins', sans-serif;
}



BODY {color:black }

P {color:rgb(0, 0, 0); 
   font-size:20px;
   font-family:Courier;
   font-weight:bold;
   font-style:italic;
   line-height:30px;
   letter-spacing:5px;
   text-decoration:underline;
   text-transform:capitalize;
   text-align:left;
   text-indent:30px;
  }


body {
    background: linear-gradient(to bottom right, #7c8a94, #4e4376);



}

.titulo {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s ease;
}

.titulo.animar {
  opacity: 1;
  transform: translateY(0);
}